@import "./partials/reset";
@import "./partials/animations";
@import "./partials/colors";

body {
  position: relative;
  background: black;
  // font-size: 1.3vmax;
  @media screen and (min-width: 769px){
    font-size: 1.1vmax;
  }
  @media screen and (max-width: 768px){
    font-size: 1.8vmax;
  }
  h1, h2, h3 {
    font-weight: bold;
  }
}

// for animation purpose
body, .hello-text, .arrow {
  display: none;
}

.welcome {
  background: $welcome-background;
  color: $welcome-text;
  .hello-container {
    height: 100%;
    .row {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
    }
    .hello-text {
      font-size: 3em;
      text-align: center;
      position: absolute;
      top: 55%;
      left: 0;
      right: 0;
      text-shadow: 0 0 15px $welcome-text;
    }
    .hello-text-after {
      background: black;
      opacity: 0.75;
      padding: 1em;
    }
    .arrow {
      position: absolute;
      bottom: 6vh;
      left: 0;
      right: 0;
      text-align: center;
      p {
        margin: 0.5em auto;
      }
      img {
        display: inline-block;
        width: 2em;
      }
    }
  }
}

.background-welcome {
  background: url('../assets/images/welcome_background2.jpg');
  animation: imageAnimation 2s linear;
}

.parallax {
  // height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-header {
  font-size: 3em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 2px solid orange;
}

#about {
  text-align: center;
  color: $about-color;
  background-color: black;
  .row {
    margin: auto;
  }
  .main {
    width: 80%;
    margin: 0 auto;
  }
  div[class^='col'] {
    padding: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:first-of-type {
      background: black;
      color: $about-background;
    }
    &:last-of-type {
      background: $about-background;
    }
    h3 {
      font-size: 2em;
    }
    li {
      list-style: none;
      height: 3em;
      display: block;
      margin: 2em;
      a {
        text-decoration: none;
        color: inherit;
        img {
          height: 100%;
        }
      }
    }
    p {
      margin: auto 1em;
      font-size: 1.5em;
      display: inline-block;
      line-height: 100%;
    }
    i {
      display: block;
      color: black;
      font-size: 2em;
      margin-top: 1em;
    }
  }
}

.background-skills {
  background-image: url('../assets/images/tech_stack.jpg');
}

#skills {
  color: $about-background;
  display: flex;
  align-items: center;
  // background: $skills-background;
  .inner-container {
    padding: 2.5em;
    p {
      margin-bottom: 2em;
      font-size: 1.5em;
    }
    background-color: $inner-container-color;
    figure {
      display: flex;
      justify-content: center;
      height: 6em;
      padding: 1em;
      img {
        height: 100%;
      }
    }
  }
}

.background-contact {
  background-image: url('../assets/images/contact_background.jpg');
}


#projects {
  color: $projects-color;
  padding-top: 60px;
  background-color: $projects-background;
  p {
    font-size: 1.5em;
    margin-bottom: 1.5em;
  }
  img {
    margin-bottom: 1.5em;
  }
}

#contact {
  padding-top: 60px;
  color: $contact-color;
  .container {
    padding: 2.5em;
    background: rgba(0, 0, 0, 0.75);
    p {
      font-size: 1.5em;
    }
  }
  .form {
    font-size: 1em;
    input[type="submit"] {
      color: orange;
      display: block;
      margin: 1em auto;
      background: none;
      border: none;
      width: 30%;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      &:hover {
        border: 1px solid lighten(orange, 10%);
        color: lighten(orange, 10%);
      }
    }

    .input {
      position: relative;
      z-index: 1;
      display: inline-block;
      margin: 1em;
      width: 90%;
      vertical-align: top;
      margin-top: 2em;
    }

    .input__field {
      line-height: 1.4em;
      position: relative;
      top: 10px;
      left: 10px;
      display: block;
      float: right;
      width: 60%;
      border: none;
      border-radius: 0;
      color: black;
      font-weight: bold;
      // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      -webkit-appearance: none; /* for box shadows to show on iOS */
      padding: 1.5em 0.5em;
      width: 100%;
      background: transparent;
      opacity: 0;
      -webkit-transition: opacity 0.3s;
      transition: opacity 0.3s;
      &:focus {
        outline: none;
        opacity: 1;
        font-size: 1.5em;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
    }

    .input__label {
      display: inline-block;
      float: right;
      width: 40%;
      font-size: 1.2em;
      position: absolute;
      left: 0;
      top: 1em;
      padding: 0 0.85em;
      width: 100%;
      height: 100%;
      text-align: left;
      pointer-events: none;
      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
      }
      &:before {
        border-top: 2px solid white;
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
        transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
      &:after {
        z-index: -1;
        background: white;
        -webkit-transform: scale3d(1, 0, 1);
        transform: scale3d(1, 0, 1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
      }
    }

    .input__label-content {
      color: orange;
      position: relative;
      display: block;
      padding: 1.6em 0;
      width: 100%;
      -webkit-transition: -webkit-transform 0.3s 0.3s;
      transition: transform 0.3s 0.3s;
    }

    .graphic {
      position: absolute;
      top: 0;
      left: 0;
      fill: none;
    }

    .icon {
      color: #ddd;
      font-size: 150%;
    }

    .input__field:focus + .input__label .input__label-content {
      -webkit-transform: translate3d(0, -80%, 0);
      transform: translate3d(0, -80%, 0);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }

    .input__field:focus + .input__label::before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    .input__field:focus + .input__label::after {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}

#footer {
  background: black;
  color: white;
  height: 2em;
  line-height: 2em;
  a, i {
    text-decoration: none;
    color: inherit;
  }
}
