$welcome-background: black;
$welcome-text: white;
$about-background: #FEF7F1;
$about-color: #2A2A2A;
$skills-background: #083D77;
$skills-color: #A5B8CD;
$inner-container-color: rgba(0, 0, 0, 0.8);
$projects-background:  #083D77;
$projects-color: #A5B8CD;
$contact-color: white;
